<form method="POST" action="writers/{{writer._id}}?_method=PUT">

  <label for="name">Name:</label>
  <input type="text" value="{{writer.name}}" name="name" />

  <input type="submit" value="Update Writer" />

</form>