<div class="main container">
  <form method="POST" action="/writers">
    <h2 class="form-header">Add New Writer</h2>
    
    <div class="page-data">
      <div class="form-group">
        <label for="writerName">Writer Name:</label>
        <input type="text" class="form-control" id="writerName" name="name" placeholder="Name">
      </div>
      
      <div class="buttons">
        <div class="form-group">
          <input type="submit" value="Add New Writer" />
        </div>
      </div>
    </div>
  </form>
</div>