<div class="container">
  <form method="POST" action="/writers">
    <h2 class="form-header">Add New Writer</h2>
    
    <div class="form-group">
      <label for="writerName">Writer Name:</label>
      <input type="text" class="form-control" id="writerName" name="name" placeholder="Name">
    </div>

    <input type="submit" value="Add New Writer" />
  </form>
</div>