<div class="main container">
  <h2>Viewing {{writer.name}}</h2>
  {{!-- <a href="/writers/{{writer._id}}/edit">Edit Writer</a> --}}

  <ul>
      <li>Something</li>
      {{#each song}}
        <li>{{name}}</li>
      {{/each}}
  </ul>

  <a href="/writers">Back to Main</a>

  <form method="POST" action="/writers/{{writer._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>
</div>