<h1>Viewing {{writer.name}}</h1>

<div>
    Songs: 1, 2, 3, 4, 5, etc...
</div>

<a href="/writers">Back to Main</a>
{{!-- <a href="/songs/{{song._id}}/edit">Edit Song</a> --}}

<form method="POST" action="/writers/{{writer._id}}?_method=DELETE">
  <input type="submit" value="Delete" />
</form>
