<div class="main container">
<h2>All Writers</h2>

<a href="writers/new">Add New Writer</a>

    <div class="page-data">
        <table style="width:100%">
            <tr>
                <th>Writer</th>
                <th>ID</th>
            </tr>
        {{#each writers}}
            <tr>
                <td><a href="writers/{{_id}}">{{name}}</a></td>
                <td>{{_id}}</td>
            </tr>
     {{/each}}
        </table>
    </div>
</div>