<form method="POST" action="/songs">
  <input type="text" value="{{name}}" placeholder="title" name="name" />

  <input type="text" name="writer" placeholder="writer" />

  <input type="text" name="publisher" placeholder="publisher" />

  <input type="submit" value="Create Song" />
</form>