<div class="main container">
  <form method="POST" action="/publishers">
    <h2 class="form-header">Add New Publisher</h2>
    
    <div class="page-data">
      <div class="form-group">
        <label for="publisherName">Publisher Name:</label>
        <input type="text" class="form-control" id="publisherName" name="name" placeholder="Name">
      </div>
      
      <div class="buttons">
        <div class="form-group">
          <input type="submit" value="Add New Publisher" />
        </div>
      </div>
    </div>
  </form>
</div>