<form method="POST" action="/publishers">

  <label for="name">Publisher Name:</label>
  <input type="text" placeholder="name" name="name" />

  <input type="submit" value="Add New Publisher" />
</form>