<div class="main container">
    <h2>Viewing All Publishers</h2>

    <a href="publishers/new">Add New Publisher</a>


    <div>
        <table style="width:100%">
            <tr>
                <th>Publisher</th>
                <th>ID</th>
            </tr>
        {{#each publishers}}
            <tr>
                <td><a href="publishers/{{_id}}">{{name}}</a></td>
                <td>{{_id}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>