<div class="main container">
  <h2>Viewing {{publisher.name}}</h2>
  {{!-- <a href="/publishers/{{publishers._id}}/edit">Edit Publisher</a> --}}

  <div>
    <table>
      <tr>
          <th>Song Name</th>
          <th>Writer</th>
      </tr>
    {{#each song}}
      <tr>
            <td>{{name}}</td>
            <td>Writer Name</td>
      </tr>
    {{/each}}
    </table>
  </div>

  <a href="/publishers">Back to Main</a>
  

  <form method="POST" action="/publishers/{{publisher._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>
</div>